/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */


@import url('https://fonts.googleapis.com/css?family=Tangerine');

html{
}


body {
  background-color: #606c38;
  color: #fefae0;
  font-family: Curlz;
  font-size: 32px;
}

h1 {
  color: #fefae0;
  background-color: #606c38;
  font-style: bold;
  font-size: 300%;
}

h2 {
  color: #fefae0;
  font-style: oblique;
  text-align: center;
  border: 3px solid #fefae0;
}

a {
  font-family: Comic sans ms;
  color: #fefae0;
}

a:hover {
  color: #8ea316;
}

ul {
  background-color: #606c38;
}
